:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #ffffffde;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: black;
  background: rgb(238,252,255);
  background: linear-gradient(90deg, rgba(238,252,255,1) 0%, rgba(238,255,248,1) 35%, rgba(252,255,238,1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-size: 72px;
  margin-top: 2px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#0cc2ff, #05986f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  background-color: #fbeeff;
  margin: 4px 50px 4px 4px;

  width: 200px;
  border: 1px solid gray;
  /* height: 300px; */
}

.image-container {
  background-color: #fff5ee;
  min-width: 10px;
  min-height: 220px;
  display: flex;
  border: 1px solid white;
}

.color-container {
  display: flex;
  justify-content: center;
}

.main-color {
  /* background-color: rgb(81, 52, 243); */
  min-width: 20px;
  min-height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid black;
  align-items: center;
}

.color-red {
  background-color: red;
}
.color-blue {
  background-color: blue;
}
.color-green {
  background-color: green;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.space-name {
  padding-right: 10px;
}